<%= form_with(model: client_dashboard, local: true) do |form| %>
  <% if client_dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_dashboard.errors.count, "error") %> prohibited this client_dashboard from being saved:</h2>

      <ul>
      <% client_dashboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
