
<div class="row">
  <h1>Client Dashboard</h1>
</div>

<div class="row small-up-2 large-up-4">
	<%= render @client_dashboard.overview_cards %>
</div>

<div class="row">
	<%= render @client_dashboard.overview_table %>
</div>


