<div class="column">
  <div class="card" style="height: 25em;">
    <div class="card-divider">
      <h4><%=t '.title' %></h4>
    </div>
    <div class="card-section text-center">
      <div class="stat"><%= active_support_issue_card.metric %></div>
      <p><%=t '.metric_title' %></p>
    </div>
  </div>
</div>
